ansible/roles/n8n/files/stripe-to-keycloak.json
{
  "name": "stripe-to-keycloak.json",
  "nodes": [
    {
      "parameters": {
        "events": [
          "checkout.session.completed",
          "customer.subscription.deleted",
          "customer.subscription.updated"
        ]
      },
      "id": "b81aa912-3aea-4f4c-be33-a1b5e05158c9",
      "name": "Stripe Trigger",
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [
        -1744,
        480
      ],
      "webhookId": "60f4f349-1860-4ddc-aad2-52fe2168143a",
      "credentials": {
        "stripeApi": {
          "id": "neeXG42GaYK12nLy",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const session = $json.data.object;\n\n// Email\nconst email = session.customer_details?.email || session.customer_email || \"inconnu\";\n\n// Nom\nconst name = session.customer_details?.name || email.split(\"@\")[0];\n\n// Plan (via metadata.plan ou valeur par défaut)\nconst plan = session.metadata?.plan || \"starter\";\n\n// Infos utiles pour le reste du flow\nreturn [{\n  email,\n  name,\n  plan,\n  customer_id: session.customer,\n  subscription_id: session.subscription,\n  session_id: session.id,\n  amount: session.amount_total / 100,\n  currency: session.currency,\n  status: session.status,\n  payment_status: session.payment_status\n}];\n"
      },
      "id": "5b18d6ca-b9de-49bb-82b8-23b6b5fb2c8c",
      "name": "Extract Plan + Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1440,
        464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "string": [
            {
              "value1": "={{ $items().filter(i => Object.keys(i.json).length > 0).length }}\n }}\n",
              "value2": "=0"
            }
          ]
        }
      },
      "id": "5aaf8b29-4930-4f9e-b9ae-ffa95583e509",
      "name": "IF User Not Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -224,
        544
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://sso.wikiplatform.app/admin/realms/master/users/{{$json[\"id\"]}}/groups/{{ $json.plan.toUpperCase() }}",
        "options": {}
      },
      "id": "d7cef0bf-f9f8-4341-9b4f-694a3a32ae0c",
      "name": "Keycloak: Assign Group",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        496,
        528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.plan}}",
              "value2": "enterprise-plus"
            }
          ]
        }
      },
      "id": "74a3d5c5-4eca-44b0-860d-56077b3973ae",
      "name": "IF Enterprise+",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        880,
        464
      ]
    },
    {
      "parameters": {
        "url": "http://provisioner:3000/deploy-new-wiki",
        "jsonParameters": true,
        "options": {}
      },
      "id": "8dd78cfe-2254-4b8a-bddc-e10d8b0d7d78",
      "name": "Call Provisioner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1792,
        -16
      ]
    },
    {
      "parameters": {
        "fromEmail": "support@wikiplatform.app",
        "toEmail": "={{$json.email}}",
        "subject": "Bienvenue sur WikiPlatform 🚀",
        "text": "Bonjour,\\n\\nVotre compte a été créé avec succès.\\n\\nVoici vos accès :\\n{{$json.urls.join('\\n')}}\\n\\nMerci,\\nL'équipe WikiPlatform",
        "options": {}
      },
      "id": "d709db85-ee5d-4194-8640-7e1e5e28ce19",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1520,
        416
      ],
      "credentials": {
        "smtp": {
          "id": "smtp_cred_1",
          "name": "smtp_mail_provider"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -944,
        464
      ],
      "id": "ed27b1d9-a6f1-43aa-8ca2-1d1848d3cebd",
      "name": "Merge"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://sso.wikiplatform.app/admin/realms/saas/users",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={{\nJSON.stringify({\n  username: $node[\"Merge\"].json[\"name\"],\n  email: $node[\"Merge\"].json[\"email\"],\n  firstName: $node[\"Merge\"].json[\"first_name\"] || \"Client\",\n  lastName: $node[\"Merge\"].json[\"last_name\"] || \"\",\n  enabled: true,\n  emailVerified: true,\n  credentials: [\n    {\n      type: \"password\",\n      value: Math.random().toString(36).slice(-10),\n      temporary: false\n    }\n  ],\n  attributes: {\n    plan: $node[\"Merge\"].json[\"plan\"]\n  }\n})\n}}\n",
        "headerParametersJson": "=\n\n{{  {\n  \"Authorization\": \"Bearer \" + $node[\"Merge\"].json[\"access_token\"].trim(),\n  \"Content-Type\": \"application/json\"\n   } }}\n"
      },
      "id": "7f480287-3a07-4380-a988-9bbe2aed9271",
      "name": "Keycloak: Create User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        144,
        240
      ]
    },
    {
      "parameters": {
        "url": "=https://sso.wikiplatform.app/admin/realms/saas/users\n\n\n",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{$json[\"email\"]}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"(recuperation-token)\"].json[\"access_token\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        544
      ],
      "id": "ddb2ecc1-48b5-4df1-b345-900eba87446b",
      "name": "HTTP Request_find_user",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sso.wikiplatform.app/realms/saas/protocol/openid-connect/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "portal"
            },
            {
              "name": "client_secret",
              "value": "roUAefiNnF1o1AMFT6XKDAAFHKVyDbem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -976,
        64
      ],
      "id": "b6c2d1fa-c4c5-466e-8bad-9eda5489da30",
      "name": "(recuperation-token)",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false
    }
  ],
  "pinData": {},
  "connections": {
    "Stripe Trigger": {
      "main": [
        [
          {
            "node": "Extract Plan + Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Plan + Email": {
      "main": [
        [
          {
            "node": "(recuperation-token)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "IF User Not Found": {
      "main": [
        [
          {
            "node": "Keycloak: Create User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Keycloak: Assign Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keycloak: Assign Group": {
      "main": [
        [
          {
            "node": "IF Enterprise+",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Enterprise+": {
      "main": [
        [
          {
            "node": "Call Provisioner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Provisioner": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request_find_user",
            "type": "main",
            "index": 0
          },
          {
            "node": "Keycloak: Create User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keycloak: Create User": {
      "main": [
        [
          {
            "node": "Keycloak: Assign Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request_find_user": {
      "main": [
        [
          {
            "node": "IF User Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(recuperation-token)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Keycloak: Create User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b0635ba0-0e44-4999-9d40-32b5c8131754",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d985841870d1c3109fb3d3ca44159e32f0413506d57b34fcbe850b4ec982f0a9"
  },
  "id": "YAIEk7eIdFmJfjlS",
  "tags": []
}