n8n/flows/stripe-to-keycloak.json.json
{
  "name": "stripe-to-keycloak.json",
  "nodes": [
    {
      "parameters": {
        "events": [
          "checkout.session.completed",
          "customer.subscription.deleted",
          "customer.subscription.updated"
        ]
      },
      "id": "b81aa912-3aea-4f4c-be33-a1b5e05158c9",
      "name": "Stripe Trigger",
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [
        -1632,
        432
      ],
      "webhookId": "60f4f349-1860-4ddc-aad2-52fe2168143a",
      "credentials": {
        "stripeApi": {
          "id": "neeXG42GaYK12nLy",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const session = $json.data.object;\n\n// Email\nconst email = session.customer_details?.email || session.customer_email || \"inconnu\";\n\n// Nom\nconst name = session.customer_details?.name || email.split(\"@\")[0];\n\n// Plan (via metadata.plan ou valeur par défaut)\nconst plan = session.metadata?.plan || \"starter\";\n\n// Infos utiles pour le reste du flow\nreturn [{\n  email,\n  name,\n  plan,\n  customer_id: session.customer,\n  subscription_id: session.subscription,\n  session_id: session.id,\n  amount: session.amount_total / 100,\n  currency: session.currency,\n  status: session.status,\n  payment_status: session.payment_status\n}];\n"
      },
      "id": "5b18d6ca-b9de-49bb-82b8-23b6b5fb2c8c",
      "name": "Extract Plan + Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1456,
        432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "string": [
            {
              "value1": "={{$json.length}}",
              "value2": "0"
            }
          ]
        }
      },
      "id": "5aaf8b29-4930-4f9e-b9ae-ffa95583e509",
      "name": "IF User Not Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -752,
        416
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://sso.wikiplatform.app/admin/realms/master/users",
        "options": {}
      },
      "id": "7f480287-3a07-4380-a988-9bbe2aed9271",
      "name": "Keycloak: Create User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -496,
        128
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://sso.wikiplatform.app/admin/realms/master/users/{{$json[\"id\"]}}/groups/{{ $json.plan.toUpperCase() }}",
        "options": {}
      },
      "id": "d7cef0bf-f9f8-4341-9b4f-694a3a32ae0c",
      "name": "Keycloak: Assign Group",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -256,
        416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.plan}}",
              "value2": "enterprise-plus"
            }
          ]
        }
      },
      "id": "74a3d5c5-4eca-44b0-860d-56077b3973ae",
      "name": "IF Enterprise+",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        96,
        464
      ]
    },
    {
      "parameters": {
        "url": "http://provisioner:3000/deploy-new-wiki",
        "jsonParameters": true,
        "options": {}
      },
      "id": "8dd78cfe-2254-4b8a-bddc-e10d8b0d7d78",
      "name": "Call Provisioner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        352,
        80
      ]
    },
    {
      "parameters": {
        "fromEmail": "support@wikiplatform.app",
        "toEmail": "={{$json.email}}",
        "subject": "Bienvenue sur WikiPlatform 🚀",
        "text": "Bonjour,\\n\\nVotre compte a été créé avec succès.\\n\\nVoici vos accès :\\n{{$json.urls.join('\\n')}}\\n\\nMerci,\\nL'équipe WikiPlatform",
        "options": {}
      },
      "id": "d709db85-ee5d-4194-8640-7e1e5e28ce19",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        656,
        480
      ],
      "credentials": {
        "smtp": {
          "id": null,
          "name": "smtp_mail_provider"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://sso.wikiplatform.app/admin/realms/saas/users\n\n\n",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{$json[\"email\"]}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"HTTP Request1(recuperation-token)\"].json[\"access_token\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -928,
        416
      ],
      "id": "ddb2ecc1-48b5-4df1-b345-900eba87446b",
      "name": "HTTP Request",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sso.wikiplatform.app/realms/saas/protocol/openid-connect/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "portal"
            },
            {
              "name": "client_secret",
              "value": "pXKdkY0hWfBvBQdOjdbTqidxquUVLX9J"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1296,
        176
      ],
      "id": "b6c2d1fa-c4c5-466e-8bad-9eda5489da30",
      "name": "HTTP Request1(recuperation-token)",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1168,
        416
      ],
      "id": "ed27b1d9-a6f1-43aa-8ca2-1d1848d3cebd",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Stripe Trigger": {
      "main": [
        [
          {
            "node": "Extract Plan + Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Plan + Email": {
      "main": [
        [
          {
            "node": "HTTP Request1(recuperation-token)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "IF User Not Found": {
      "main": [
        [
          {
            "node": "Keycloak: Create User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Keycloak: Assign Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keycloak: Create User": {
      "main": [
        [
          {
            "node": "Keycloak: Assign Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keycloak: Assign Group": {
      "main": [
        [
          {
            "node": "IF Enterprise+",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Enterprise+": {
      "main": [
        [
          {
            "node": "Call Provisioner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Provisioner": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "IF User Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1(recuperation-token)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b9f3d4da-8b5c-4570-8330-136f64c9b194",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ea8f408a77c33e6e4fcd11d40b946fee92d4eb5120cad891c40d220bb4cff94"
  },
  "id": "YAIEk7eIdFmJfjlS",
  "tags": []
}